// Grid background color mixin

@mixin themes($map) {
  @each $theme, $color in $map {
    &__#{$theme} {
      background-color: $color;
    }
  }
}

// Button background color mixin

@mixin button-color($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      background-color: $color;
    }
  };
}

// Button background color on :hover mixin

@mixin button-color-hover($map) {
  @each $theme, $color in $map {
    &--#{$theme}:hover {
      background-color: darken($color, 10%);
    }
  }
}
