// Descriptive color variables

$mine-shaft: rgb(63, 63, 63);
$white: rgb(255, 255, 255);
$turquoise: rgb(77, 221, 179);
$malibu: rgb(70, 213, 251);
$emerald: rgb(85, 197, 110);
$roman: rgb(219, 94 ,103);
$orange: rgb(250, 96, 68);
$deluge: rgb(127, 100, 180);

// Functional color variables

$color-text-primary: $mine-shaft;
$color-text-secondary: $white;

$color-primary: $turquoise;
$color-default: $malibu;
$color-success: $emerald;
$color-error: $roman;
$color-warning: $orange;
$color-info: $deluge;

// Grid theme cololrs

$grid-colors: (
  'col--12': rgb(113, 229, 198),
  'col--6': rgb(53, 155, 190),
  'col--4': rgb(110, 225, 252),
  'col--3': rgb(213, 158, 233),
  'col--5': rgb(112, 212, 143),
  'col--7': rgb(229, 139, 146),
  'col--8': rgb(250, 139, 114),
)  ;

// Font Stacks

@if variable-exists(font-url--google) {
  @import url($font-url--google);
}


$font-url--google: 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900';
$font-family--primary: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font weight

$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;

// Text

$base__font-size: 16px;
$base__line: 24px;

// Media query breakpoints

$break-s: 480px;
$break-m: 769px;
$break-l: 1400px;
