@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900&display=swap');

// Functional color variables

$color-text-primary: rgb(63, 63, 63);
$color-text-secondary: rgb(255, 255, 255);

$color-primary: rgb(77, 221, 179);
$color-default: rgb(70, 213, 251);
$color-success: rgb(85, 197, 110);
$color-error: rgb(219, 94 ,103);
$color-warning: rgb(250, 96, 68);
$color-info: rgb(127, 100, 180);


// Grid theme cololrs

$grid-colors: (
  'col--12': rgb(113, 229, 198),
  'col--6': rgb(53, 155, 190),
  'col--4': rgb(110, 225, 252),
  'col--3': rgb(213, 158, 233),
  'col--5': rgb(112, 212, 143),
  'col--7': rgb(229, 139, 146),
  'col--8': rgb(250, 139, 114),
)  ;

// Font stacks

$stack-sans-serif: sans-serif;
$stack-lato: 'Lato', $stack-sans-serif;

// Media query breakpoints

$break-s: 480px;
$break-m: 769px;
$break-l: 1400px;
