.form {

  &__label {
    width: 90%;
    &--hidden {
      display: hidden;
   }
  }

  &__input {
    display: block;
    width: 85%;
    margin: 0 auto em(20px);
    padding: em(15px);
    border: none;
    border-bottom: 5px solid map-get($button-colors, primary);

    @include mq(m) {
      width: 95%;
    }
  }
}

::placeholder {
  font-size: em(14px);
  font-weight: $font-weight--bold;
}
