// Import if Google Fonts is defined

@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

.container {
  font-family: $font-family--primary;
  color: $color-text-primary;
  width: 95%;
  line-height: ($base__line/$base__font-size);
  margin: 0 auto;
  @include mq(m) {
    width: 85%;
  }
}

.headline--primary {
  color: map-get($button-colors, primary);
  padding: 0 70px 15px;
}

.headline--secondary {
  font-weight: $font-weight--thin;
  padding: 0 em(20px);
  font-size: em(18px);

  @include mq(m) {
    padding: 0 em(30px);
    margin-top: 20px;
  }
}

.card {
  p {
    @extend %margin-auto;
    padding: 0 em(30px);
    margin-bottom: $margin-bottom;
    line-height: 25px;
    font-size: 17px;
  }

  a {
    text-decoration: none;
  }
}

.blockquote {
  border-left: 8px solid map-get($button-colors, primary);
  border-radius: $border-radious;
  padding-left: em(20px);
  font-size: em(25px);
  margin-left: em(70px);
  margin-bottom: $margin-bottom;
  font-style: italic;
  line-height: $base__line * 1.5;
  font-weight: $font-weight--light;
  @include mq(m) {
    margin-left: em(30px);
  }
}

.centered {
  @include mq(m) {
    margin: 0 auto;
  }
}
